<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WikiUrl" value="https://eu4.paradoxwikis.com" />
		<add key="AchievementsPath" value="/Achievements" />
		<add key="AppId" value="236850" />
		<add key="DevKey" value="" />
		<add key="UserId" value="" />
	</appSettings>
</configuration>
